<!doctype html>

<!-- Home -->

<html class="h-100" lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/background.css">

</head>

<body class="h-100">
    <div class="h-90" id="header-background">
        <div class="container h-100" >
            <div class="row h-100 justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="display-2" style="color: white">Search for a baseball player <i class="fas fa-baseball-ball"></i></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="lead" style="color: white">
                                Our website will generate statistic for you to show you how good your player might be in 5 years. We'll also compare your player to others around the mlb and show 
                                you some graphs for comparison.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form id="form" action="{{ url_for('player') }}" method="POST">
                                <div class="input-group">
                                    <input class="form-control form-control-lg shadow" type="text" id="tags" placeholder="Player Name" name="playerName">
                                    <div class="input-group-append shadow">
                                        <button class="btn btn-outline-success btn-lg" type="submit" role="button">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom: 250px">
        <div class="row" style="margin-bottom: 50px">
            <div class="col-12">
                <h1 class="display-2" style="color: #bbdb9b">Why Was It Created?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="lead" style="color: #bbdb9b">
                    We wanted to create a statistic that was similar to the 'player type' research that Bill James did. So we decided to create a statistic that might look at how good a player would be 
                    in the future. And we thought that it might be interesting to see how players today age compared to older players with advances in medicine and practices around sports.
                </p>
            </div>
        </div>
    </div>
    <div id="how-background">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <div class="card shadow" style="margin-bottom: 250px; margin-top: 250px">
                        <div class="card-body">
                            <div class="row" style="margin-bottom: 50px">
                                <div class="col-12">
                                    <h1 class="display-2" style="color: #bbdb9b">How Does It Work?</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="lead" style="color: #bbdb9b">
                                        We pulled in a lot of batting data from Fangraphs batting in order to calculate the statistic for each player and standardize it across players.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $( function() {
            var availableTags = ['Mike Trout', 'Jonathan Lucroy', 'Buster Posey',
            'Andrew McCutchen', 'Giancarlo Stanton', 'Michael Brantley',
            'Russell Martin', 'Anthony Rendon', 'Jose Bautista',
            'Adrian Beltre', 'Carlos Gomez', 'Josh Donaldson', 'Robinson Cano',
            'Yasiel Puig', 'Alex Gordon', 'Anthony Rizzo', 'Rene Rivera',
            'Yan Gomes', 'Jose Abreu', 'Jayson Werth', 'Jose Altuve',
            'Miguel Cabrera', 'Kyle Seager', 'Troy Tulowitzki',
            'Josh Harrison', 'Ben Zobrist', 'Jason Heyward', 'Adam Jones',
            'Howie Kendrick', 'Jhonny Peralta', 'Todd Frazier',
            'Victor Martinez', 'Ian Kinsler', 'Starling Marte', 'Brian Dozier',
            'Steve Pearce', 'Marcell Ozuna', 'Freddie Freeman', 'Lorenzo Cain',
            'Paul Goldschmidt', 'Denard Span', 'Mike Zunino', 'Erick Aybar',
            'Ian Desmond', 'Devin Mesoraco', 'Neil Walker', 'Christian Yelich',
            'Hunter Pence', 'Danny Santana', 'Nelson Cruz', 'J.D. Martinez',
            'Dustin Pedroia', 'Brian McCann', 'Jose Reyes', 'Jimmy Rollins',
            'Hanley Ramirez', 'Justin Upton', 'Miguel Montero', 'Chase Utley',
            'Adam Eaton', 'Edwin Encarnacion', 'Adrian Gonzalez',
            'Evan Longoria', 'Leonys Martin', 'Dee Gordon', 'Jacoby Ellsbury',
            'Alcides Escobar', 'Yoenis Cespedes', 'Matt Carpenter',
            'Chase Headley', 'Kole Calhoun', 'Juan Uribe', 'Justin Turner',
            'Trevor Plouffe', 'Brett Gardner', 'Alexei Ramirez',
            'Pablo Sandoval', 'Luis Valbuena', 'Starlin Castro',
            'Matt Holliday', 'Lucas Duda', 'Melky Cabrera', 'Yadier Molina',
            'J.J. Hardy', 'A.J. Pollock', 'Juan Lagares', 'Hank Conger',
            'Kevin Kiermaier', 'Scott Van Slyke', 'Corey Dickerson',
            'Brandon Crawford', 'Albert Pujols', 'Desmond Jennings',
            'Billy Hamilton', 'Drew Stubbs', 'Brandon Moss', 'Seth Smith',
            'Eduardo Escobar', "Travis d'Arnaud", 'Yasmani Grandal',
            'Nolan Arenado', 'Daniel Murphy', 'Matt Kemp', 'David Freese',
            'Jason Castro', 'Carl Crawford', 'Jarrod Dyson', 'Chris Coghlan',
            'Justin Morneau', 'Nick Markakis', 'Manny Machado', 'Daniel Nava',
            'Carlos Santana', 'David Ortiz', 'Tyler Flowers', 'Carlos Ruiz',
            'Rajai Davis', 'Marlon Byrd', 'Brock Holt', 'Josh Reddick',
            'Dexter Fowler', 'Mike Napoli', 'Christian Vazquez', 'Alex Avila',
            'Adam LaRoche', 'Francisco Cervelli', 'Jordy Mercer',
            'Evan Gattis', 'Emilio Bonifacio', 'Ender Inciarte',
            'Asdrubal Cabrera', 'Salvador Perez', 'Gregor Blanco',
            'Chris Iannetta', 'Casey McGehee', 'Michael Saunders',
            'Chris Carter', 'George Springer', 'Sam Fuld', 'Nori Aoki',
            'Kolten Wong', 'Angel Pagan', 'Derek Norris', 'Mookie Betts',
            'Elvis Andrus', 'Ben Revere', 'Matt Adams', 'Scooter Gennett',
            'Caleb Joseph', 'Chris Stewart', 'Brandon Guyer', 'Jed Lowrie',
            'Conor Gillaspie', 'Kristopher Negron', 'Adam Lind',
            'Robinson Chirinos', 'Jon Jay', 'Yangervis Solarte',
            'Aramis Ramirez', 'Joe Mauer', 'Coco Crisp', 'Andrelton Simmons',
            'David Wright', 'Brett Lawrie', 'Bryce Harper', 'Michael Morse',
            'Travis Snider', 'Lonnie Chisenhall', 'Ryan Hanigan',
            'Michael Cuddyer', 'Colby Rasmus', 'Martin Prado', 'Ruben Tejada',
            'Matt Joyce', 'Chris Owings', 'Stephen Vogt', 'Khris Davis',
            'Martin Maldonado', 'Collin Cowgill', 'Brandon Phillips',
            'Cliff Pennington', 'Josh Willingham', 'Zack Cozart',
            'Charlie Blackmon', 'Joe Panik', 'Marwin Gonzalez', 'Craig Gentry',
            'Rickie Weeks Jr.', 'Dustin Ackley', 'Carlos Corporan',
            'Brad Miller', 'Peter Bourjos', 'Curtis Granderson',
            'Wilson Ramos', 'David Lough', 'Wilmer Flores', 'Ryan Zimmerman',
            'Juan Francisco', 'Austin Jackson', 'Josh Hamilton',
            'Torii Hunter', 'Ryan Braun', 'David Ross', 'Kirk Nieuwenhuis',
            'Darwin Barney', 'Ichiro Suzuki', 'Enrique Hernandez',
            'Matt den Dekker', 'Jose Ramirez', 'Mark Reynolds',
            'David Peralta', 'Rougned Odor', 'Chris Taylor', 'Andre Ethier',
            'Adam Rosales', 'Jose Lobaton', 'Chris Davis', 'Anthony Gose',
            'Oswaldo Arcia', 'Delmon Young', 'Michael McKenry', 'Chris Young',
            'Eugenio Suarez', 'James Loney', 'Alejandro De Aza',
            'Donovan Solano', 'Eric Young Jr.', 'Joey Votto', 'Logan Morrison',
            'Brandon Belt', 'Will Venable', 'Gerardo Parra', 'Alexi Amarista',
            'Ramon Santiago', 'Mark Teixeira', 'Ryan Flaherty', 'Chris Heisey',
            'Arismendy Alcantara', 'Jason Kipnis', 'Matt Wieters', 'Ike Davis',
            'Erik Kratz', 'Danny Espinosa', 'Kelly Johnson', 'Robbie Grossman',
            'Welington Castillo', 'Tommy Medica', 'Cody Asche',
            'Abraham Almonte', 'Jake Marisnick', 'Drew Butera',
            'Danny Valencia', 'Michael Bourn', 'John Mayberry',
            'David DeJesus', 'Gregorio Petit', 'Travis Ishikawa',
            'Justin Ruggiano', 'Omar Infante', 'Marcus Semien',
            'Gregory Polanco', 'Kennys Vargas', 'Wil Nieves', 'John Jaso',
            'Adeiny Hechavarria', 'Yonder Alonso', 'Brandon Hicks',
            'Adam Dunn', 'Ryan Rua', 'Yunel Escobar', 'Chris Gimenez',
            'Jeff Mathis', 'Shin-Soo Choo', 'Eric Campbell', 'Chris Johnson',
            'Derek Dietrich', 'Mike Moustakas', 'Nicholas Castellanos',
            'Jonathan Schoop', 'Kevin Pillar', 'Ryan Sweeney',
            'Munenori Kawasaki', 'Ramiro Pena', 'Didi Gregorius',
            'Phil Gosselin', 'Clint Barmes', 'Garrett Jones', 'Pedro Alvarez',
            'Cameron Maybin', 'DJ LeMahieu', 'Randal Grichuk', 'Brian Roberts',
            'Darin Ruf', 'Jonny Gomes', 'Alex Rios', 'Jose Molina',
            'Sean Rodriguez', 'Jordan Danks', 'Efren Navarro',
            'Jordan Schafer', 'Shane Victorino', 'Jackie Bradley Jr.',
            'Nick Punto', 'Derek Jeter', 'Daniel Robertson', 'Tommy La Stella',
            'Jean Segura', 'Aaron Hicks', 'Willie Bloomquist', 'Andrew Romine',
            'Jordany Valdespin', 'Eduardo Nunez', 'Brandon Barnes',
            'Tuffy Gosewisch', 'Tyler Colvin', 'Eric Sogard', 'Jake Lamb',
            'Xander Bogaerts', 'Endy Chavez', 'Chris Parmelee', 'Miguel Rojas',
            'Steve Tolleson', 'Jonathan Villar', 'Ed Lucas', 'Tyler Moore',
            'Luis Sardinas', 'Jonathan Herrera', 'Nick Hundley',
            'Gaby Sanchez', 'Melvin Upton Jr.', 'Chris Denorfia',
            'Chris Dickerson', 'Ehire Adrianza', 'Chris Valaika', 'Josh Thole',
            'Avisail Garcia', 'Elian Herrera', 'Jeff Baker', 'Jim Adduci',
            'Logan Forsythe', 'Freddy Galvis', 'Moises Sierra', 'Zach Walters',
            'Jake Goebbert', 'Daniel Descalso', 'Nate McLouth', 'David Murphy',
            'Joaquin Arias', 'Yolmer Sanchez', 'Jedd Gyorko', 'Hector Sanchez',
            'Wil Myers', 'Justin Smoak', 'Brayan Pena', 'C.J. Cron',
            'Lyle Overbay', 'Don Kelly', 'Eric Hosmer', 'Alex Presley',
            'Donnie Murphy', 'Bobby Abreu', 'Logan Schafer', 'Ryan Howard',
            'Grant Green', 'Gordon Beckham', 'James Jones', 'Cesar Hernandez',
            'Wilin Rosario', 'Carlos Gonzalez', 'Mike Aviles', 'Josh Rutledge',
            'Ryan Ludwick', 'Grady Sizemore', 'Anthony Recker',
            'Dioner Navarro', 'Jay Bruce', 'Ryan Kalish', 'Junior Lake',
            'Prince Fielder', 'Mark Ellis', 'Jose Tabata', 'Mike Olt',
            'Aaron Hill', 'Juan Perez', 'Kevin Frandsen', 'Everth Cabrera',
            'Mark Trumbo', 'Mitch Moreland', 'Billy Butler', 'Carlos Beltran',
            'JB Shuck', 'Jesus Guzman', 'Reed Johnson', 'Ryan Goins',
            'Chris Colabello', 'Rymer Liriano', 'Carlos Quentin',
            'Kurt Suzuki', 'Cody Ross', 'Marc Krauss', 'Mike Carp',
            'Brendan Ryan', 'L.J. Hoes', 'Ryan Doumit', 'J.P. Arencibia',
            'Jason Kubel', 'Javier Baez', 'Stephen Drew', 'Josmil Pinto',
            'Skip Schumaker', 'Christian Bethancourt', 'Will Middlebrooks',
            'Dayan Viciedo', 'Dan Uggla', 'Oscar Taveras', 'Corey Hart',
            'Alfredo Marte', 'Jon Singleton', 'Alfonso Soriano', 'Tony Gwynn',
            'Nate Schierholtz', 'Paul Konerko', 'Charlie Culberson',
            'Adrian Nieto', 'Domonic Brown', 'John Baker', 'Jordan Pacheco',
            'Stefen Romero', 'Raul Ibanez', 'Leury Garcia', 'Alberto Callaspo',
            'Ryan Raburn', 'A.J. Pierzynski', 'Bryan Holaday',
            'Matt Dominguez', 'Tony Cruz', 'Kendrys Morales', 'Allen Craig',
            'Gerald Laird', 'Nick Swisher', 'Jarrod Saltalamacchia',
            'Michael Choice', 'A.J. Ellis', 'Kris Bryant', 'Matt Duffy',
            'Francisco Lindor', 'Odubel Herrera', 'Jung Ho Kang',
            'Carlos Correa', 'Joc Pederson', 'Alex Rodriguez',
            'Addison Russell', 'Eddie Rosario', 'Franklin Gutierrez',
            'Devon Travis', 'Roberto Perez', 'Miguel Sano', 'Cory Spangenberg',
            'Maikel Franco', 'Billy Burns', 'Michael Conforto',
            'Kyle Schwarber', 'Ketel Marte', 'Delino DeShields', 'Tommy Pham',
            'Andres Blanco', 'Jose Iglesias', 'Corey Seager', 'Geovany Soto',
            'Mikie Mahtook', 'Aaron Altherr', 'Travis Shaw',
            'Steven Souza Jr.', 'Johnny Giavotella', 'Trayce Thompson',
            'Stephen Piscotty', 'Josh Phegley', 'Mark Canha', 'Curt Casali',
            'Kevin Plawecki', 'Kelby Tomlinson', 'Greg Bird', 'Jace Peterson',
            'Nick Ahmed', 'Blake Swihart', 'Ben Paulsen', 'John Ryan Murphy',
            'Carlos Perez', 'Paulo Orlando', 'Tucker Barnhart',
            'Adonis Garcia', 'Jason Rogers', 'Brett Wallace', 'Clint Robinson',
            'Preston Tucker', 'Domingo Santana', 'Joey Gallo', 'Cameron Rupp',
            'J.T. Realmuto', 'Justin Bour', 'Dilson Herrera', 'Austin Hedges',
            'Nolan Reimold', 'Jake Smolinski', 'Tyler Collins', 'Joey Butler',
            'Tyler Saladino', 'Pedro Ciriaco', 'Jorge Soler', 'Ivan De Jesus',
            'Bobby Wilson', 'Christian Colon', 'Cole Gillespie',
            'Jimmy Paredes', 'Shane Peterson', 'Daniel Castro',
            'Shane Robinson', 'Eury Perez', 'Ezequiel Carrera', 'Jesus Sucre',
            'Andrew Susac', 'Jerry Sands', 'Rusney Castillo', 'Dalton Pompey',
            'Byron Buxton', 'Tim Beckham', 'Giovanny Urshela',
            'Steve Clevenger', 'Hanser Alberto', 'Michael A. Taylor',
            'Alex Guerrero', 'Justin Maxwell', 'Micah Johnson',
            'Taylor Featherston', 'Hernan Perez', 'Jason Bourgeois',
            'Ryan Lavarnway', 'Jesus Montero', 'Max Muncy', 'James McCann',
            'Pete Kozma', 'Hector Gomez', 'Chris Herrmann', 'Rafael Ynoa',
            'Jeff Francoeur', 'Nick Franklin', 'Kyle Parker', 'Sandy Leon',
            'Jake Elmore', 'Yasmany Tomas', 'Trea Turner', 'Gary Sanchez',
            'Trevor Story', 'Aledmys Diaz', 'Willson Contreras',
            'Ryan Schimpf', 'Adam Duvall', 'Tyler Naquin', 'Tim Anderson',
            'Tony Wolters', 'Keon Broxton', 'Greg Garcia', 'Ryon Healy',
            'Whit Merrifield', 'Travis Jankowski', 'Jefry Marte', 'Max Kepler',
            'Andrew Toles', 'David Dahl', 'Alex Bregman', 'Hyun Soo Kim',
            'Tommy Joseph', 'Dansby Swanson', 'Alex Dickerson', 'Jose Peraza',
            'Scott Schebler', 'Jett Bandy', 'Matt Szczur', 'Adam Frazier',
            'Nomar Mazara', 'Albert Almora Jr.', 'T.J. Rivera',
            'Andrew Benintendi', 'Ronald Torreyes', 'Cheslor Cuthbert',
            'Mallex Smith', 'Jarrett Parker', 'Brandon Drury', 'Dae-Ho Lee',
            'Mitch Haniger', 'Bruce Maxwell', "Chase d'Arnaud",
            'Jurickson Profar', 'Eric Fryer', 'Guillermo Heredia',
            'Luke Maile', 'Mac Williamson', 'Yuli Gurriel',
            'Jeremy Hazelbaker', 'Joey Wendle', 'Byung-ho Park',
            "Shawn O'Malley", 'Omar Narvaez', 'Teoscar Hernandez',
            'Brett Eibner', 'Jorge Polanco', 'Josh Bell', 'Steven Moya',
            'Tyler White', 'Trevor Brown', 'Rob Refsnyder', 'Michael Martinez',
            'Joey Rickard', 'Orlando Arcia', 'Austin Romine', 'Ji-Man Choi',
            'Rafael Ortega', 'Adalberto Mondesi', 'Tony Kemp', 'Tyler Holt',
            'A.J. Reed', 'Juan Centeno', 'Cristhian Adames', 'Tyler Goeddel',
            'Ramon Flores', 'Ramon Cabrera', 'Aaron Judge', 'Cody Bellinger',
            'Austin Barnes', 'Paul DeJong', 'Matt Chapman', 'Rhys Hoskins',
            'Eric Thames', 'Matt Olson', 'Jose Pirela', 'Manuel Margot',
            'Ian Happ', 'Manny Pina', 'Ozzie Albies', 'Ben Gamel',
            'Trey Mancini', 'Bradley Zimmer', 'Jose Martinez', 'Brandon Nimmo',
            'Yoan Moncada', 'Johan Camargo', 'Nicky Delmonico',
            'Jesus Aguilar', 'Jorge Bonifacio', 'Wilmer Difo', 'Rafael Devers',
            'Nick Williams', 'Lane Adams', 'Carlos Asuaje', 'Boog Powell',
            'Pat Valaika', 'Max Moroff', 'Kaleb Cowart', 'Jesse Winker',
            'Jeimer Candelario', 'Brian Goodwin', 'Yandy Diaz',
            'Gorkys Hernandez', 'Austin Slater', 'John Hicks', 'Luke Voit',
            'Amed Rosario', 'Deven Marrero', 'Erik Gonzalez', 'Andrew Knapp',
            'Hunter Renfroe', 'Chad Pinder', 'Jorge Alfaro', 'J.T. Riddle',
            'Dustin Garneau', 'Kevan Smith', 'Derek Fisher', 'Drew Robinson',
            'Patrick Kivlehan', 'Zack Granite', 'Raimel Tapia', 'Rio Ruiz',
            'Jabari Blash', 'Ty Kelly', 'Willy Garcia', 'Rey Fuentes',
            'Matt Reynolds', 'Dixon Machado', 'Clint Frazier',
            'Jaycob Brugman', 'Tomas Telis', 'Taylor Motter', 'JaCoby Jones',
            'Christian Arroyo', 'Dominic Smith', 'Jose Osuna', 'Alen Hanson',
            'Adam Engel', 'Matt Davidson', 'Ryder Jones', 'Elias Diaz',
            'Allen Cordoba', 'Luis Torrens', 'Ronald Acuna Jr.', 'Juan Soto',
            'Harrison Bader', 'Brian Anderson', 'Shohei Ohtani', 'Jeff McNeil',
            'Miguel Andujar', 'Max Stassi', 'Ramon Laureano', 'David Fletcher',
            'Gleyber Torres', 'Jake Cave', 'Willy Adames', "Tyler O'Neill",
            'Nick Martini', 'Renato Nunez', 'Christian Villanueva',
            'Franmil Reyes', 'Niko Goodrum', 'David Bote', 'Brandon Lowe',
            "Ryan O'Hearn", 'Steven Duggar', 'Colin Moran', 'Ryan LaMarre',
            'Daniel Palka', 'Jake Bauers', 'Ronald Guzman', 'Brett Phillips',
            'Lourdes Gurriel Jr.', 'Jose Briceno', 'Phillip Ervin',
            'Richard Urena', 'J.P. Crawford', 'Tyler Austin', 'Rosell Herrera',
            'Spencer Kieboom', 'Mitch Garver', 'Jose Fernandez', 'Roman Quinn',
            'Austin Meadows', 'David Freitas', 'Jose Rondon', 'Taylor Ward',
            'Jordan Luplow', 'Franchy Cordero', 'Daniel Vogelbach',
            'Greg Allen', 'Yairo Munoz', 'Grayson Greiner',
            'Isiah Kiner-Falefa', 'Ryan McMahon', 'Mason Williams',
            'Austin Wynns', 'Billy McKinney', 'Johnny Field', 'Scott Kingery',
            'Alex Blandino', 'Raffy Lopez', 'Victor Caratini',
            'Francisco Arcia', 'Brandon Dixon', 'Austin Dean', 'Chance Sisco',
            'Cedric Mullins II', 'Dawel Lugo', 'Anthony Santander',
            'Carlos Tocci', 'Yadiel Rivera', 'J.D. Davis', 'Charlie Tilson',
            'Willie Calhoun', 'Dustin Fowler', 'Pedro Severino',
            'Hunter Dozier', 'Noel Cuevas', 'Francisco Pena', 'Lewis Brinson',
            'Ronny Rodriguez', 'Victor Reyes', 'Magneuris Sierra'];
            $( "#tags" ).autocomplete({
                source: availableTags
            });
        } );
    </script>
</body>
</html>